.country-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 30px;
    color:black;
}

.show-countries{
    background-color:#f6f6f6;
    padding-top:20px;
    padding-bottom: 20px;

}

.cat-fav{
    text-align: center;
    padding: 15px;
    width: 35rem;
    display:inline-block;
    position: relative;
}